<!DOCTYPE html>
<html>
  <head>
    <title>ashiart by stoop.tk</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="og:url" content="http://ashiart.herokuapp.com/" />
    <meta name="og:image" content="http://stoop.tk/img/ashiart.png" />
    <meta name="og:description" content="足跡で、何か伝えることができるのか。" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      function calcColor(n){
        return 255-n*8;
        //return n<32 ? 255-n*8 : 255-(64-n)*8;
      }

      var N = 32;
      var map = [];
      var whitening = false;
      var connected = false;

      for(var i=0;i<60;i++){
        map.push([]);
      }

      $(document).ready(function(){

        var socket = io.connect(window.location.href);

        socket.on('init', function (data) {

          $("#loading").fadeOut(500);

          $(".box").each(function(){
            var x = parseInt($(this).attr("data-x"));
            var y = parseInt($(this).attr("data-y"));
            var val = data[x][y];
            var c = calcColor(val);
            var col = "rgb(" + c +","+ c +","+ c + ")";

            map[x][y] = $(this);

            $(this).attr("data-val", val);
            $(this).css("background-color",col);
          });

          connected = true;
        });

        socket.on('change', function (data) {
          var x = data["x"];
          var y = data["y"];
          var val = data["val"];
          var c = calcColor(val);
          var col = "rgb(" + c +","+ c +","+ c + ")";
          var obj = map[x][y];

          obj.attr("data-val", val);
          obj.css("background-color",col);
        });

        $("#whitening").change(function(){
          whitening = $(this).attr("checked") ? true : false;
        });

        $(".box").mouseover(function(){
          if(!connected) return;

          var val = parseInt($(this).attr("data-val"));
          var x = parseInt($(this).attr("data-x"));
          var y = parseInt($(this).attr("data-y"));

          if(whitening){
            val = val<=0 ? 0 : val-1;
          }else{
            val = val>=N ? N : val+1;
          }

          socket.emit('paint', { x: x, y: y, val: val });

          var c = calcColor(val);
          var col = "rgb(" + c +","+ c +","+ c + ")";
          $(this).attr("data-val",val);
          $(this).css("background-color",col);
        });

      });
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>