* {
  border: 0;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  border: #BBB 1px solid;
  width: 720px;
  height: 480px;
  margin: 20px auto;
}

.row {
  clear: both;
  float: none;
  margin: 0px;
  padding: 0px;
}

.box {
  float: left;
  margin: 1px;
  padding: 0px;
  width: 10px;
  height: 10px;
  background: #FFF;
}